@model IEnumerable<LexiconLMS.Models.Module>

@{
    ViewBag.Title = "Kursmoduler";
}

<h3>Kurs @ViewBag.coursename, @ViewBag.coursedescription (@ViewBag.coursestartdate.ToString("yyy-MM-dd") - @ViewBag.courseenddate.ToString("yyy-MM-dd"))</h3>

<h4>@ViewBag.Title</h4>

@*<table class="table table-hover sortable sortable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>

        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
            <tr>
              
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.ActionLink("Aktiviteter", "ActivityFilter", "Students", new { id = item.ModuleID }, null) |
                </td>
                <td>
                    @Html.ActionLink("Dokument", "DocumentFilter", "Students", new { modulid = item.ModuleID, courseid = item.CourseId }, null)
                </td>

            </tr>
        </tbody>
    }

</table>*@


<div class="panel-group" id="accordion">
    @foreach (var item in Model)
    {
            <div class="row">
                <div class="col-md-10">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <a data-toggle="collapse" data-parent="#accordion" href="#@item.ModuleID">
                                    <b>@Html.DisplayFor(m => item.Name)</b>
                                </a>
                            </h4>
                        </div>
                        <div id="@item.ModuleID" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table table-hover sortable">
                                    <thead>
                                        <tr>
                                            <th>
                                                @Html.DisplayNameFor(m => m.First().Activities.First().ActivityType.TypeName)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => m.First().Activities.First().Name)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => m.First().Activities.First().Description)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => m.First().Activities.First().StartDate)
                                            </th>
                                            <th>
                                                @Html.DisplayNameFor(m => m.First().Activities.First().EndDate)
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var subItem in item.Activities)
                                        {
                                            <tr>
                                                <td>
                                                    @Html.DisplayFor(m => subItem.ActivityType.TypeName)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => subItem.Name)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => subItem.Description)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => subItem.StartDate)
                                                </td>
                                                <td>
                                                    @Html.DisplayFor(m => @subItem.EndDate)
                                                </td>
                                                <td>
                                                    <button class="btn btn-default">
                                                        @Html.ActionLink("Dokument", "DocumentFilter", "Documents", new { modulid = item.ModuleID, courseid = item.CourseId }, null)
                                                    </button>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default">
                        @Html.ActionLink("Dokument", "DocumentFilterRoot", "documents", new { courseid = item.CourseId, modulid = ViewBag.modulid, activityid = ViewBag.activityid }, null)
                    </button>
                </div>
            </div>
            <div class="row"><p></p></div>
    }

</div>